.Container {
  flex-basis: 293px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;

  border: 1px solid black;
  border-radius: 3px;
}

.Date {
  margin-top: 16px;
  font-size: 12px;
  width: fit-content;
  margin-left: auto;
}

.ButtonLi {
  margin-bottom: 10px;
}
.ButtonLi:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .Container {
    order: 1;
    flex: 0 0 auto;
    margin: 0 auto;

    flex-direction: row;
    width: 80vw;
    justify-content: center;
  }
  .FilterContainer {
    flex-grow: 1;
  }
  .InputContainer {
    width: 300px;
  }
}
