.Container {
  flex-basis: 293px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .Container {
    order: 1;
    flex: 0 0 auto;
    margin: 0 auto;

    flex-direction: row;
    justify-content: center;
    width: 80vw;
  }
}
