.Button {
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: #ffa07a;
}

.Button:hover {
  opacity: 0.7;
}

.Positive {
  background-color: #228be6;
}

.Negative {
  background-color: #f06595;
}

.Submit {
  display: block;
  margin-top: 10px;
  margin-left: auto;
}
