.Item {
  border-bottom: 1px solid black;
  padding: 10px 5px;
  margin-bottom: 15px;
}

.TextContainer {
  position: relative;
}

.TodoText {
  width: 70%;
}

.Status {
  font-weight: bold;
  color: #228be6;
  position: absolute;
  top: 0;
  right: 10px;
}

.ButtonContainer {
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}

.ButtonContainer button {
  margin-right: 10px;
}
