.Container {
  padding: 20px;
  padding-top: 0;
  flex-basis: 475px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .Container {
    flex: initial;
    padding: 0;
    width: 80vw;
    order: 2;
    margin: 0 auto;
  }
  .Ul {
    height: calc(100vh - 280px);
  }
}

.Ul {
  overflow-y: auto;
}

.Item {
  border-bottom: 1px solid black;
  padding: 10px 5px;
  margin-bottom: 15px;
}

.TextContainer {
  position: relative;
}

.TodoText {
  width: 70%;
}

.Status {
  font-weight: bold;
  color: #228be6;
  position: absolute;
  top: 0;
  right: 0;
}

.ButtonContainer {
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}

.ButtonContainer button {
  margin-right: 10px;
}
