.Container {
  padding: 0 20px 30px;
  padding-top: 0;
  flex-basis: 475px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.Ul {
  overflow-y: auto;
}

@media (max-width: 768px) {
  .Container {
    flex: initial;
    padding: 0;
    width: 80vw;
    order: 2;
    margin: 0 auto;
  }
  .Ul {
    height: calc(100vh - 320px);
  }
}
