.Container {
  /* max-width: 768px; */
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  padding: 10px 0;
  background-color: gray;
}

.logo {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 24px;
}

.Main {
  width: 768px;
  align-self: center;
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .Main {
    flex-direction: column;
    width: 100%;
  }
}
